# Idea
.idea/

# Gradle
.gradle/
build/

# temp
temp/

# properties
/gradle.properties

# log
logs/

# project
myframework-cloud-project/myframework-project-blog/

# jar
*.jar

# claude
.claude/
CLAUDE.md

# doc
doc/

# temp
**/taotao*/

# intellijPlatform
.intellijPlatform/
