# Idea
.idea/

# Gradle
.gradle/
build/

# temp
temp/

# properties
/gradle.properties

# log
logs/

# jar
*.jar

# claude
.claude/
CLAUDE.md

# doc
doc/

# temp
#**/kuma*/
kuma-project/kuma-project-blog/src/main/resources/sql/

# k8s secrets
kuma-project/kuma-project-blog/k8s/secret.yaml

# intellijPlatform
.intellijPlatform/
/gradle/wrapper/gradle-9.3.1-bin.zip
